{
    "tabWidth": 4,
    "printWidth": 120,
    "useTabs": true,
    "semi": true,
    "singleQuote": true,
    "quoteProps": "preserve",
    "trailingComma": "all",
    "bracketSpacing": true,
    "arrowParens": "always"
}
